body {
    background-color: #fcf9f9;
  }
  .paper {
    width: 50%;
    margin: auto;
  }
  .card {
    min-height: 500px;
    margin-top: 10%;
  }
  .header{
    background-color: #183650;
    color: white;
  }